<!DOCTYPE html>
<html lang="en">
 <head>
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>
<body>
<div id="logo"></div>
<div id="abbicus"></div>
<a href="/Login"><button id="login">Login</button></a>
<a href="/Register"><button id="register">Sign Up</button></a>
<button id="home_button">Home</button>
<button id="contact_us">Contact Us</button>
<h2 id="calc">Calculators</h2>
<a href="/Rectangular"><button id="rcorners1">Rectangular Distribution</button></a>
<a href="/Normal"><button id="rcorners2">Normal Distribution</button></a>
<a href="/Continuous"><button id="rcorners3">Continuous Random Variable</button></a>
<a href="/Discrete"><button id="rcorners7">Discrete Random Variable</button></a>
<a href="/Poisson"><button id="rcorners5">Poisson Distribution</button></a>
<a href="/Binomial"><button id="rcorners6">Binomial Distribution</button></a>



</body>
</html>

