<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
      <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
<div id="background">
    <div id="box">
        <h1 id="title">Login</h1>
        <form id="username" action="/Login" method="POST">
            <label for="Uname">Username: </label>
            <input type="text" id="Uname" name="Username" placeholder="Username"></br></br>
            <label for="Pass">Password:<a id="filler">j</a></label>
            <input type="Password" id="Pass" name="Password" placeholder="Password">
            <input id="login" type="submit" value="submit">
        </form>
        <button id="forgotten">Forgot your password?</button>
    </div>
</div>
</body>
</html>
