<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Up</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">

</head>
<body>
<div id="background">
    <div id="box">
        <h1 id="title">Sign Up</h1>
        <form id="username" action="/Register" method="POST">
            <lable for="cand">Candidate Number:</lable>
            <input type="text" id="cand" name="cand" placeholder="Number">
            <label for="Uname">Username: </label>
            <input type="text" id="Uname" name="Username" placeholder="Username"></br></br>
            <label for="Pass" class="Password">Password:</label>
            <input type="Password" id="Pass" name="Password" placeholder="Password"></br>
            <label for="Pass">Password:</label>
            <input type="Password" id="CPass" name="confirmPassword" placeholder="Re-enter password">
            <input id="login" type="submit" value="submit">
        </form>
    </div>
</div>
</body>
</html>

