<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Up</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">

</head>
<body>
<div id="background">
    <div id="box">
        <h1 id="title">Sign Up</h1>
        <form id="username" action="/" method="POST">
            <label for="cand">Name:</label>
            <input type="text" id="cand" name="cand" placeholder="Number"></br>
            <label for="Uname">Password: </label>
            <input type="text" id="Uname" name="Username" placeholder="Username"></br>
            <label for="Pass" class="Password">Password:</label>
            <input type="Password" id="Pass" name="Password" placeholder="Password"></br>
            <label for="Pass">Re-enter Password:</label></br>
            <input type="Password" id="CPass" name="confirmPassword" placeholder="Re-enter password"></br>
            <label for="email">Email address:</label>
            <input type="text" id="email" name="email" placeholder="pwatson887@c2kni.com">
            <input id="login" type="submit" value="submit">
        </form>
    </div>
</div>
</body>
</html>

