<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poisson</title>
    <link rel="stylesheet" type="text/css" href="../static/css/test.css">

</head>
<body>
<div class="topBar">
    <div class="dropdown">
        <button class="dropbtn">Continuous Random</button>
        <div class="dropdown-content">
            <a href="#">E(x)</a>
            <a href="#">Var(x)</a>
            <a href="#">Manipulating</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Discrete Random</button>
        <div class="dropdown-content">
            <a href="#">E(x)</a>
            <a href="#">Var(x)</a>
            <a href="#">Manipulating</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Rectangular</button>
        <div class="dropdown-content">
            <a href="#">E(x)</a>
            <a href="#">Var(x)</a>
            <a href="#">Manipulating</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Poisson</button>
        <div class="dropdown-content">
            <a href="#">E(x)</a>
            <a href="#">Var(x)</a>
            <a href="#">Manipulating</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Binomial</button>
        <div class="dropdown-content">
            <a href="#">E(x)</a>
            <a href="#">Var(x)</a>
            <a href="#">Manipulating</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Normal</button>
        <div class="dropdown-content">
            <a href="#">E(x)</a>
            <a href="#">Var(x)</a>
            <a href="#">Manipulating</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Derivations</button>
        <div class="dropdown-content">
            <a href="#">Binomial</a>
            <a href="#">Rectangular</a>
            <a href="#">Normal</a>
            <a href="#">Poisson</a>
            <a href="#">Discrete Random</a>
            <a href="#">Continuous Random</a>
        </div>
    </div>
        <div class="dropdown">
        <button class="dropbtn">Tests</button>
        <div class="dropdown-content">
            <a href="#">Binomial</a>
            <a href="#">Rectangular</a>
            <a href="#">Normal</a>
            <a href="#">Poisson</a>
            <a href="#">Discrete Random</a>
            <a href="#">Continuous Random</a>
        </div>
    </div>
</div>

</body>
</html>